<div class="hero-section style-2">
    <div class="container">
        <h1 class="text-center text-white">Account Suspended</h1>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="@Url.Content("~/images/banner/hero-bg.png")"></div>
</div>
<div class="error-section padding-top padding-bottom bg_img" data-background="@Url.Content("~/images/error-bg.png")">
    <div class="container">
        <div class="error-wrapper">
            <div class="error-thumb">
                <img src="~/images/error.png" alt="error">
            </div>
         
        </div>
    </div>
</div>
