
@model Auction.Models.Messages
@{
    ViewData["Title"] = "Create";
}
<!--============= Hero Section Starts Here =============-->
<div class="hero-section">
    <div class="container">
        <ul class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <span>Contact Us</span>
            </li>
        </ul>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="@Url.Content("~/images/banner/hero-bg.png")"></div>
</div>
<!--============= Hero Section Ends Here =============-->
<!--============= Contact Section Starts Here =============-->
<section class="contact-section padding-bottom">
    <div class="container">
        <div class="contact-wrapper padding-top padding-bottom mt--100 mt-lg--440">
            <div class="section-header">
                <h5 class="cate">Contact Us</h5>
                <h2 class="title">get in touch</h2>
                <p>We'd love to hear from you! Let us know how we can help.</p>
            </div>
            <div class="row">
                <div class="col-xl-8 col-lg-7">

                    <form class="contact-form" id="contact_form" asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                        <div class="form-group">
                            <label asp-for="Name"><i class="far fa-user"></i></label>
                            <input type="text" asp-for="Name" placeholder="Your Name" name="name" id="name">
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="Email"><i class="fas fa-envelope-open-text"></i></label>
                            <input asp-for="Email" type="email" placeholder="Enter Your Email ID" name="email" id="email">
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                        <div class="form-group">
                            <label asp-for="Message" class="message"><i class="far fa-envelope"></i></label>
                            <textarea name="message" asp-for="Message" id="message" placeholder="Type Your Message"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>

                        </div>
                        <div class="form-group text-center mb-0">
                            <button type="submit" class="custom-button">Send Message</button>
                        </div>
                    </form>
                </div>
                <div class="col-xl-4 col-lg-5 d-lg-block d-none">
                    <img src="~/images/contact.png" class="w-100" alt="images">
                </div>
            </div>
        </div>
    </div>
</section>
<!--============= Contact Section Ends Here =============-->
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
