
@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    var currentUser = await UserManager.GetUserAsync(User);

}

<div class="col-sm-10 col-md-7 col-lg-4">
    <div class="dashboard-widget mb-30 mb-lg-0 sticky-menu">
        <div class="user">
            <div class="thumb-area">
                <div class="thumb">
                    <img src="~/uploads/@currentUser.ProfilePicture" alt="user">
                </div>
               @* <label for="profile-pic" class="profile-pic-edit"><i class="flaticon-pencil"></i></label>
                <input type="file" id="profile-pic" class="d-none">*@
            </div>
            <div class="content">
                <h5 class="title"><a href="#0">@currentUser.Name</a></h5>
                @if (User.IsInRole("Admin"))
                {
                    <span class="username"><a  class="__cf_email__" >Admin</a></span>

                }
              
                @if (User.IsInRole("User"))
                {
                    <span class="username"><a class="__cf_email__">User</a></span>

                }
           </div>
        </div>
        <ul class="dashboard-menu">
            <li>
                <a href="dashboard.html"><i class="flaticon-dashboard"></i>Dashboard</a>
            </li>
            <li>
                <a href="#0" class="active"><i class="flaticon-settings"></i>Personal Profile </a>
            </li>
            <li>
                <a href="my-bid.html"><i class="flaticon-auction"></i>My Bids</a>
            </li>
            <li>
                <a href="winning-bids.html"><i class="flaticon-best-seller"></i>Winning Bids</a>
            </li>
            <li>
                <a href="notifications.html"><i class="flaticon-alarm"></i>My Alerts</a>
            </li>
            <li>
                <a href="my-favorites.html"><i class="flaticon-star"></i>My Favorites</a>
            </li>
            <li>
                <a href="referral.html"><i class="flaticon-shake-hand"></i>Referrals</a>
            </li>
        </ul>
    </div>
</div>