@page
@model AccessDeniedModel

<div class="hero-section style-2">
    <div class="container">
        <h1 class="text-center text-light">Accessed Denied</h1>
        <p class="text-center text-light">Be in your Limit</p>
    </div>
    <div class="bg_img hero-bg bottom_center" data-background="@Url.Content("~/images/banner/hero-bg.png")"></div>
</div>
